html, body {
    height: 100%;
    margin: 0px;
}

div.container {
    height: 100%;
    margin: 0;
}

div.row1 {
    display: flex;
    height: 20%;
}

div.row2 {
    display: flex;
    height: 80%;
}

div.left-column {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 20%;
}

div.right-column {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 80%;
}

.top-left {
    background-color: #2e3cbb;
}

.top-right {
    background-color: firebrick;
    
}

.bottom-left {
    background-color: #2e3cbb;
}

.bottom-right {
    background-color: dimgrey;
}

ul.exam-list {
    display: flex;
}

.button {
    border-radius: 10px;
    background-color: green;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 125px;
    text-align: center;
    color: blanchedalmond;
}

.button:hover {
    background-color: crimson;
    cursor: pointer;
    box-shadow: 3px 3px rgb(58, 97, 182);
}

.username {
    text-align: center;
    border: black;
    border-width: 1px;
    border-style: solid;
    background-color: beige;
    border-radius: 15px;
    width: fit-content;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
}

.exam-container h3 {
    text-align: center;
    border: black;
    border-width: 1px;
    border-style: solid;
    background-color: beige;
    border-radius: 10px;
    width: fit-content;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: rgb(44, 135, 196);
    width: 100%;
    text-align: center;
}