
html, body {
    height: 100vh;
    margin: 0;
}

div.container {
    float: left;
    height: 93vh;
    background-color: rgb(124, 120, 118);
    width: 100%;
}

div.row1 {
    display: flex;
    height: 20%;
}

div.row2 {
    display: flex;
    height: 80%;
}

div.left-column {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 20%;
}

div.right-column {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 80%;
}

.top-left {
    background-color: #2e3cbb;
    margin-left: auto;
    margin-right: auto;
}

.top-right {
    background-color: firebrick;
    
}

.bottom-left {
    background-color: #2e3cbb;
    text-align: center;
}

.bottom-right {
    background-color: dimgrey;
    float: left;
}

ul.exam-list {
    display: flex;  
    flex-wrap: wrap;
    list-style: none;
}

li.exam-card {
    background-color: darkolivegreen;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.button {
    border-radius: 10px;
    background-color: green;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 125px;
    text-align: center;
    color: blanchedalmond;
    float: right;
    margin-right: 50px;
}

.button:hover {
    background-color: crimson;
    cursor: pointer;
    box-shadow: 3px 3px rgb(58, 97, 182);
}

.username {
    text-align: center;
    border: black;
    border-width: 1px;
    border-style: solid;
    background-color: beige;
    border-radius: 15px;
    width: fit-content;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
}

.exam-container h3 {
    text-align: center;
    border: black;
    border-width: 1px;
    border-style: solid;
    background-color: beige;
    border-radius: 10px;
    width: fit-content;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: rgb(44, 135, 196);
    width: 100%;
    text-align: center;
    float: left;
}

.exam-types {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0 !important;
}

.exam-types li{
    background-color: darkolivegreen;
    border: black;
    border-style: solid;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding: 10px;
}

.exam-types li:hover {
    background-color: crimson;
    cursor: pointer;
    box-shadow: 3px 3px rgb(58, 97, 182);
}

.nav {
    background-color: rgb(14, 56, 145);
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
}

.nav-link {
    background-color: darkolivegreen;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.nav-link:hover {
    background-color: crimson;
    cursor: pointer;
    box-shadow: 3px 3px rgb(58, 97, 182);
}

.delete {
    border-radius: 10px;
    background-color: red;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 125px;
    text-align: center;
    color: blanchedalmond;
    margin-left: auto;
    margin-right: auto;
}

.delete:hover {
    background-color: rgb(99, 5, 143);
    cursor: pointer;
    box-shadow: 3px 3px rgb(58, 97, 182);
}

.continue {
    border-radius: 10px;
    background-color: green;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 125px;
    text-align: center;
    color: blanchedalmond;
    margin-left: auto;
    margin-right: auto;
}

.continue:hover {
    background-color: rgb(99, 5, 143);
    cursor: pointer;
    box-shadow: 3px 3px rgb(58, 97, 182);
}

.exam-title{
    text-align: center;
    
}

.prompt-window {
    display: flex;
    width: 100%;
}

.answers-window {
    display: flex;
    width: 100%;
}

.nav-buttons {
    display: flex;
    float: right;
    padding-top: 100px;
    justify-content: space-between;
}

.nav-buttons div {
    border-radius: 10px;
    background-color: green;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 125px;
    text-align: center;
    color: blanchedalmond;
    padding: 10px;
    margin: 10px;
}

.nav-buttons div:hover {
    background-color: rgb(99, 5, 143);
    cursor: pointer;
    box-shadow: 3px 3px rgb(58, 97, 182);
}

.answers, .prompt, .question-number {
    margin-left: 20px;
}

.submit-container {
    position: absolute;
    bottom: 10%;
    width: 20%;
    justify-content: center;
}

.submit {
    border-radius: 10px;
    background-color: green;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 125px;
    text-align: center;
    color: blanchedalmond;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.submit:hover {
    background-color: rgb(99, 5, 143);
    cursor: pointer;
    box-shadow: 3px 3px rgb(58, 97, 182);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-bottom: 100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    width: 50%;
}
  
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-question-list {
    display: flex;  
    flex-wrap: wrap;
    list-style: none;
}

.modal-question-number {
    background-color: rgb(141, 29, 29);
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    height: 20px;
    width: 20px;
    color: blanchedalmond;
}

.modal-question-number:hover {
    background-color: rgb(43, 132, 192);
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    height: 20px;
    width: 20px;
    cursor: pointer
}

.answered {
    background-color: rgb(36, 199, 85);
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.side-nav {
    list-style: none;
    text-align: center;
}

.side-nav div {
    display: inline-block; 
    border-radius: 10px;
    background-color: green;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    width: 150px;
    text-align: center;
    color: blanchedalmond;
    padding: 10px;
    margin: 5px;
}

.side-nav div:hover {
    background-color: crimson;
    cursor: pointer;
    box-shadow: 3px 3px rgb(58, 97, 182);
}

.question-list {
    display: flex;  
    flex-wrap: wrap;
    list-style: none;
}

.question-end {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    height: 20px;
    width: 20px;
    color: blanchedalmond;
}

.question-end:hover{
    cursor: pointer;
    box-shadow: 3px 3px rgb(58, 97, 182);
}

.correct {
    background-color: green;
}

.wrong {
    background-color: rgb(148, 4, 4);
}